html, body {
    height: 100%;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: black;
    color: white;
}
#content {
    height: 99%;
    width: 99%;
    margin: 0 auto;
    position: relative;
}
.panel {
    height: 100%;
    width: 100%;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #003;
    border: 1px solid #039;
    top: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: -webkit-transform 2s ease,
                        z-index 2s linear;
    -webkit-transform: rotateY(0deg);
    -webkit-perspective: 500px;
    -webkit-transform-style: preserves-3d;
    z-index: 1;
}
.panel #paged {
    height: 90%;
    width: 100%;
}

.panel.hidden {
    -webkit-transform: rotateY(180deg);
    z-index: -100;
}

.panel .settings {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
}

.panel .settings a {
    color: #000;
    float: right;
    display: block;
    margin: 5px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #ccc;
}
.panel .settings a:hover {
    color: #333;
    background: #fff;
}

.panel .details {
    width: 100%;
}
.panel h1,
.panel h2 {
    margin: 0 5px 0 0;
    padding: 5px 20px 5px 5px;
    font-size: 2em;
}
.panel .loading h1 {
    background: url(../img/loading.gif) right center no-repeat;
}
.panel .details > table {
    border-collapse: collapse;
    width: 100%;
}
.panel .details > table tr td,
.panel .details > table tr th {
    font-size: 1.25em;
    padding: 5px;
    text-align: left;
}
.panel .details > table tr:nth-child(odd) td {
    background: #036;
}
.panel .details > table tr td.route {
    text-align: right;
}

.panel form {
    padding: 5px;
}

.panel ul#bus_stops li {
    font-size: 1.25em;
    padding: 5px;
    text-align: left;
}
.panel ul#bus_stops li:nth-child(odd) {
    background: #036;
}
.stop_status {
    text-align: center;
}
ul#stop_links {
    text-align: center;
}
ul#stop_links li {
    display: inline;
}
ul#stop_links li a {
    color: #666;
    text-decoration: none;
    padding: 5px;
    font-size: 1.25em;
}
ul#stop_links li a.active,
ul#stop_links li a:hover {
    color: #fff;
}
ul#bus_stops li {
    padding-right: 2em;
    position: relative;
}
ul#bus_stops li a {
    color: #fff;
}

ul#bus_stops li a.delete {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    right: 3px;
    bottom: 3px;
    color: #ccc;
}

#stops_found ul {
    margin-top: 2px;
    background: #003;
    border: 1px solid #039;
    float: left;
}
#stops_found li {
    padding: 5px;
}
#stops_found li form {
    padding: 0;
    margin: 0;
}
#stops_found li button {
    background: none;
    border: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}
