html, body {
    height: 100%;
}
body {
    margin: 0;
    background: black;
    color: white;
}
#content {
    height: 99.5%;
    width: 99.5%;
    position: relative;
}
.panel {
    height: 98%;
    width: 99%;
    top: 0.25%;
    left: 0.25%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #003;
    border: 1px solid #039;
    position: absolute;
    padding: 5px;
    -webkit-transition: -webkit-transform 2s ease;
    -webkit-transition: -webkit-transform 2s ease, 
                        opacity 2s ease-in,
                        z-index 2s linear;
    -webkit-transform: rotateY(0deg);
    -webkit-perspective: 500px;
    -webkit-transform-style: preserves-3d;
    z-index: 1;
}

.panel.hidden {
    -webkit-transform: rotateY(180deg);
    opacity: 0;
    z-index: -100;
}

.panel a {
    color: #000;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #ccc;
}
.panel a:hover {
    color: #333;
    background: #fff;
}