Options +ExecCGI +FollowSymLinks -MultiViews -Indexes
SetHandler cgi-script

RewriteEngine on
RewriteCond %{REQUEST_URI} !^.*/times.py$
RewriteCond %{REQUEST_URI} ^(.*)/times/(.*)$
RewriteRule ^.*$ %1/times.py?stop=%2 [L]

